<html>
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <link href="{{ url_for('static',filename='/css/styles.css') }}" rel="stylesheet" />
    </head>

    <body>
      <div class="grid">

        <div class="head-navigation">
            <ul>
                <li><h1><a href="#">Mob.Org</a></h1></li>
                <li><h1><a href="#">Home</a></li>
                <li><h1><a href="#">Genre</a></li>
                <li><h1><a href="#">Books</a></li>
                <li><h1><a href="#">Movies</a></li>
                    <button type="button" class="button"><li><h1><a href="#">Sign-Up</a></li></button>
                        <form action="#">
                            <li style="float: right;"><h1><a href="#">Search</a></li>
                            <li style="float: right;"><input type="text" id="fname" name="search-bar" style="height: 50px; width: 250px; margin-top: 7px ;"></li>
                        </form>      
              </ul>
        </div>
   
        {%include "main-show.html"%}
        {%include "top-movie-char.html"%}
        {%include "popular-show.html"%}
        {%include "top-show.html"%}

        <div class="top-books">
            <h1>The Best Books</h1>
            <h1 class="the-best-films"><a href="#">see more</a></h1>
            <div class="top-show-list">
                <a href="#">
                    <img src="{{ url_for('static',filename='/assets/b1.jpg') }}" class="img-list">
                </a>
            </div>
            <div class="top-show-list">
                <a href="#">
                    <img src="{{ url_for('static',filename='/assets/b2.jpg') }}" class="img-list">
                </a>
            </div>
            <div class="top-show-list">
                <a href="#">
                    <img src="{{ url_for('static',filename='/assets/b3.jpg') }}" class="img-list">
                </a>
            </div>
            <div class="top-show-list">
                <a href="#">
                    <img src="{{ url_for('static',filename='/assets/b4.jpg') }}" class="img-list">
                </a>
            </div>
            <div class="top-show-list">
                <a href="#">
                    <img src="{{ url_for('static',filename='/assets/b5.jpg') }}" class="img-list">
                </a>
            </div>
        </div>

        <div class="footer">
            footer
        </div>
      </div>
    </body>
</html>