<div class="popular-show">
    <div>
       <h1>Popular Show</h1>
       <h1 style="margin-left: 370px;"><a href="#">see more</a></h1>
    </div>
    {%for topitem in topItem%}
    <div class="char-info">
       <div class="top-char-pic">
         <img src="{{topitem[4]}}">
       </div>
       <div class="top-char-info">
         <h1 style="margin: 2%;">{{topitem[1]}}</h1>
         <h1 style="color: black; margin-left: 68%;">{{topitem[2]}}</h2>
         <h2 style="color: black; margin: 2%;">{{topitem[3]}}</h2>
         <h2 style="color: black; margin: 2%;">{{topitem[5]}} Favorites</h2>
       </div>
    </div>
    {%endfor%}
 </div>