{% extends "user_base.html" %}
{% block content %}
    <div class="view-item-body">
        <div class="view-item-info">
            <div class="view-item-pic">
                <img src="https://thumbs.dreamstime.com/b/male-silhouette-question-mark-profile-anonymous-icon-incognito-sign-unknown-person-vector-illustration-isolated-white-113868090.jpg" class="img-list">
            </div>
            <div class="view-item-list">
                <div class="profile">
                    <p><a href="#">Plan To Watch</a></p>
                    <p><a href="#">Watching</a></p>
                    <p><a href="#">Complete</a></p>
                    <p><a href="/logout">Logout</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}