<div class="top-movie-characters">
   <div>
      <h1>Top Characters</h1>
      <h1 style="margin-left: 350px;"><a href="#">see more</a></h1>
   </div>
   {%for topchar in topChar%}
   <div class="char-info">
      <div class="top-char-pic">
         <img src="{{topchar[2]}}">
      </div>
      <div class="top-char-info">
         <h1 style="margin: 2%;">{{topchar[4]}},{{topchar[3]}}</h1>
         <h2 style="color: black; margin: 2%;">{{topchar[1]}} Favorites</h2>
      </div>
   </div>
   {%endfor%}
</div>