<div class="view-all-rec">
    <div class="add-rec">
        <h1 style="float: right; margin-right: 2%;"><a href="/add_recommendation">Add Recommendation</a></h1>
    </div>

    {%for user_rec in recDetailsFive%}
    <div class="view-rec">
        <div class="item-pic">
            <img src="{{user_rec[0]}}">
        </div>
        {%for rec_details in recDetailsSix%}
        <div class="item-content">
            {{rec_details[0]}}
        </div>
        <h3 style="position: relative; left: 45%;">{{rec_details[1]}}</h3>
        {%endfor%}
    </div>
    {%endfor%}

    


</div>