{% extends "user_base.html" %}
{% block content %}
    <div class="view-item-body">
        <div class="view-item-info">
            <div class="view-item-pic">
                <img src="{{itemDetails[12]}}" class="img-list">
            </div>
            <div>
                add
            </div>
            <div>
                details
            </div>
        </div>
        <div class="view-item-synopsis">
            <div>
                stats
            </div>
            <div class="view-item-synop">
                synopsis
            </div>
            <div>
                background
            </div>
            <div class="view-item-char">
                characters
            </div>
            <div class="view-item-review">
                reviews
            </div>
            <div>
                recommendation
            </div>

        </div>
    </div>
{% endblock %}