{% extends "user_base.html" %}
{% block content %}
    <div class="view-item-body">
        <div class="view-item-info">
            <div class="view-item-pic">
                <img src="{{itemDetails[10]}}" class="img-list">
            </div>
            <div class="view-item-list">
                <div style="margin:2%">
                    {% if bool_listdetails == "true" %}
                    {%include "view_item_edit.html"%}
                    {% else %}
                    {%include "view_item_add.html"%}
                    {% endif %}
                </div>
            </div>
            <div class="view-item-details">
                asd
            </div>
        </div>

        <div class="view-item-synopsis">
            <div>
                stats
            </div>
            <div class="view-item-synop">
                <h1 style="margin-left:1%;">Synopsis</h1>
                <div style="margin-left: 1%; margin-right: 1%;">
                <p style="color: black; text-align: justify; text-indent: 5%; letter-spacing: 2px;">
                    {{itemDetails[8]}}
                </p>
                </div>
            </div>
            <div class="view-item-background">
                <h1 style="margin-left:1%;">Background</h1>
                <p style="color: black; text-align: justify; text-indent: 2%; letter-spacing: 2px;">{{itemDetails[9]}}</p>
            </div>
            <div class="view-item-char">
                characters
            </div>
            <div class="view-item-review">
                <div class="user-review">
                    <h1>User Review</h1>
                </div>
                <div class="review-one">
                    reviews
                </div>
                <div class="review-two">
                    reviews
                </div>
                <div class="review-three">
                    reviews
                </div>
            </div>
            <div class="view-item-rec">
                recommendation
            </div>

        </div>
    </div>
{% endblock %}